@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{

    Employee employee = (Employee)ViewData["singleEmployee"];
    <p>@employee.Id</p>
    <p>@employee.FName</p>
    <p>@employee.LName</p>
    <p>@employee.Email</p>
    <p>@employee.ContactNo</p>
}
